<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SLEEP TRACKER TAYLOR TRAN AND AP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Overnight Sleep</ion-card-title>
        <ion-card-subtitle>Tap when you're ready to sleep, and tap again when you wake up.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div *ngIf="!isTrackingOvernight; else trackingBlock">
          <ion-button expand="block" size="large" (click)="startOvernightSleep()">
            Start Overnight Sleep
          </ion-button>
        </div>
        <ng-template #trackingBlock>
          <p>
            Tracking since <strong> {{ overnightStart | date: 'shortTime' }}</strong>
          </p>
          <ion-button expand="block" color="danger" size="large" (click)="stopOvernightSleep()">
            I'm Awake!
          </ion-button>
        </ng-template>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
